{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <div class="row">
        <div class="container">
            <div class="col-md-12">
                <div class="text-center bg-success">
                    {% for error in errors %}
                        <p>{{error}}<p>
                    {% endfor %}
                </div>
                <form method="POST" class="form-group">
                    <label for="password">Mot de passe</label>
                        <input type="password" name="password">
                    <label for="verifPassword">Confirmer votre mot de passe</label>
                        <input type="email" name="verifPassword">
                    <button class="btn btn-primary">Changer de mot de passe</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}