{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <div class="row">
        <div class="container">
            <div class="col-md-12">
                <form action="{{path("createToken")}}" method="POST" class="form-group">
                    <label for="email">E-mail</label>
                        <input type="email">
                    <button type="button" class="btn btn-primary">Reset mot de passe</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}