{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <div class="row">
        <div class="container text-center">
            <div class="col-12 col-md-4 marginForm ">
                <div class="text-center bg-success">
                    {% for error in errors %}
                        <p>{{error}}<p>
                    {% endfor %}
                </div>
                <form method="POST" class="form-group formBackG">
                    <label for="email">E-mail</label>
                        <input type="email" name="email" class="form-control formInput">
                    <label for="verifEmail">Confirmer votre e-mail</label>
                        <input type="email" name="verifEmail" class="form-control formInput">
                    <button class="btn btn-primary formButton">Reset mot de passe</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}