{% extends 'base.html.twig' %}

{% block title %}Match&Go{% endblock %}

{% block body %}

	<video src="{{ asset('video/match&go.mp4') }}" type="video/mp4" autoplay="true" loop="true" class="container-fluid" height="200px"></video>

	<div>
		<a href="{{ path('app_register') }}">Trouver un compagnon de voyage</a>
	</div>

{% endblock %}
