/*Couleurs pour site :
jaune : #fdad17
gris : #3f4253*/


body{
	font-family: 'Open Sans', cursive;
}

section {
  min-height: 100vh;
  /*background-color: #3f4253;*/
}

/*Vidéo Home*/

.videoHome{
  height:100vh;
  width:100vw;
}

/*Formulaire d'inscription*/
.inscriptionBg{
	background: #3f4253;
	color: #fdad17;
}

.inscription{ 
	background: #3f4253;
	color: #fdad17;
 }

.inputInscription{
	background: #696d8a;
	color: #fdad17;
	border: #696d8a;
}

.btnInscription{
 	background: #fdad17;
 	color: #3f4253;
 }

.titleInscription{
 	color: #fdad17;
 	
 }


/*Formulaire de connexion*/

.connexion{
	background: #3f4253;
	color: #fdad17;
}

.btnConnexion{
	background: #fdad17;
	color: #3f4253;
}

.connexionBg{
	background: #3f4253;
	color: #fdad17;
}

.connexion >input{
	background: #696d8a;
	color: #fdad17;
	border: #696d8a;
}


/*Création du profil*/

.btnProfile{
	background: #fdad17;
	color: #3f4253;
}

.profileBg{
	background-image: url('../uploads/profile/backgroundprofile2.jpg');
	background-repeat: no-repeat;
}

.formBg{
	background-color: rgba(248,248,248,.7);
	padding: 30px;
}

.fas.fa-trash{
	color: #fdad17;
}

.fas.fa-pencil-alt{
	color: #fdad17;
}

.fas.fa-search-plus{
	color: #fdad17;
}

.navbar-light .navbar-nav .nav-link{
	color: #fdad17;
}

a:hover {
	color: #3f4253;
}

/* Affichage du profil de l'utilisateur connecté */

.imgBgProfile{
  height: 400px;
  width: 100%;
}

.profileBlock{
  background: #414559;;
  position:absolute;
  top: 40%;
  height: 100%;
  z-index: 0;

}

.rowBgProfile{
  position:relative;
}

.infosUser{
  color: #fdad17;
}


.avatar{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0px 2px 4px black;
}

.divAvatar{
  position: absolute;
  bottom: 48%;
  left: 40%;
}
/*CAROUSEL*/

.containerQuiz {
	background-color: #3f4253;
}

#carouselQuiz {
	background-color: #fff;
  /*padding: 100px;*/
  height: 600px;
  position: relative;
  /*box-shadow: 5px 5px 10px lightgrey, -5px -5px 10px lightgrey;*/
}

.carousel-inner {
  height: 600px;
  border: 10px solid #25283a;
}

.ico {
  background: none;
  color: #3f4253;
}

.ico:hover {
  background: none;
  color: #3f4253;
}

.ico:focus {
  background: none;
  color: #3f4253;
}

.pictureQuiz {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  opacity: 0.6;
}


.labelQuestion {
  margin-top: 4rem;
  color: #3f4253;/*
  font-family: 'Lobster', cursive;*/
  font-size: 2rem;
}

.littleContainer {
	width: 60%;
	margin: 200px auto 0;
}

.btnAnswers {
  background-color: #3f4253;
  border: 1px solid #3f4253;
  color: #fdad17;
  width: 250px;
}

.btnAnswers:hover {
  background-color: #fdad17;
  color: #3f4253;  
}

#btnSearchMatch {
  background-color: #fdad17;
  color: #3f4253;
  width: 300px;
  height: 100px;
  border: 1px solid #fdad17;
  border-radius: 5px;
  margin-top: 250px;
  box-shadow: 10px 10px 20px lightgrey, -10px -10px 20px lightgrey;
}


/*Formulaire admin Concept*/

.btnConcept{
  background: #fdad17;
  color: #3f4253;
}


/*Affichage de la page concept*/

.conceptBg{
  background: #3f4253;
  color: #fdad17;
}

.conceptRow{
  background: #dabc83;
  color: #3f4253;
  height: 130px;
}
/*FOOTER*/

footer{
	color: #d4b478;
	background-color: #25283a;
}

/*page match*/

.match {
  background-color: #3f4253;
}

.titleMatch {
  color: #fdad17;
}

.imgProfileMatch {
  width: 100%;
  box-shadow: 0px 10px 10px -4px #6A708C;
}

.avatar {
  border-radius: 50%;
}

.card {
    width: 200px;
    min-height:300px;
    background:#dabc83;
    box-shadow:0 20px 50px rgba(0,0,0, 0.3);
}

.card:hover {
    box-shadow:0 30px 70px rgba(0,0,0,0.7);
}

.btnChat, .btnProfile {
  background-color: #3f4253;
  border: 1px solid #3f4253;
  color: #fdad17; 
  margin: 0 auto;
  padding: 5px 10px;
}

#video-background {
  position: absolute;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: 1;
}

#video-background.collapsing {
  display:none;
}

header {
    position: relative;
    min-height: auto;
    text-align: center;
    color: #fff;
    width: 100%;
    background-color: #c9c9c9;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
    z-index: 2;
}

header .header-content .inner h1 {
    margin-top: 0;
    margin-bottom: 0;
}

header .header-content .inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,0.7);
}
