/*Couleurs pour site :
jaune : #fdad17
gris : #3f4253*/


body{
	font-family: 'Open Sans', cursive;
}


/*Vidéo Home*/

.videoHome{
  height:100vh;
  width:100vw;
}

/*Formulaire d'inscription*/
.inscriptionBg{
	background: #3f4253;
	color: #fdad17;
}

.inscription{ 
	background: #3f4253;
	color: #fdad17;
 }

.inputInscription{
	background: #696d8a;
	color: #fdad17;
	border: #696d8a;
}

.btnInscription{
 	background: #fdad17;
 	color: #3f4253;
 }

.titleInscription{
 	color: #fdad17;
 	
 }


/*Formulaire de connexion*/

.connexion{
	background: #3f4253;
	color: #fdad17;
}

.btnConnexion{
	background: #fdad17;
	color: #3f4253;
}

.connexionBg{
	background: #3f4253;
	color: #fdad17;
}

.connexion >input{
	background: #696d8a;
	color: #fdad17;
	border: #696d8a;
}


/*Création du profil*/

.btnProfile{
	background: #fdad17;
	color: #3f4253;
}

.profileBg{
	background-image: url('../uploads/profile/backgroundprofile2.jpg');
	background-repeat: no-repeat;
}

.formBg{
	background-color: rgba(248,248,248,.7);
	padding: 30px;
}

.fas.fa-trash{
	color: #fdad17;
}

.fas.fa-pencil-alt{
	color: #fdad17;
}

.fas.fa-search-plus{
	color: #fdad17;
}

.navbar-light .navbar-nav .nav-link{
	color: #fdad17;
}

a:hover {
	color: #3f4253;
}

/* Affichage du profil de l'utilisateur connecté */

.imgBgProfile{
  height: 400px;
  width: 100%;
}

.profileBlock{
  background: #3f4253;
  position:absolute;
  top: 40%;
  height: 100%;
  z-index: 0;

}

.rowBgProfile{
  position:relative;
}

.infosUser{
  color: #fdad17;
  border: 1px solid #fdad17;
}


.avatar{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0px 2px 4px black;
}

.divAvatar{
  position: absolute;
  bottom: 48%;
  left: 40%;
}
/*CAROUSEL*/

#carouselQuiz {
  margin: 4rem auto;
  height: 600px;
  position: relative;
  box-shadow: 5px 5px 10px lightgrey, -5px -5px 10px lightgrey;
}

.carousel-inner {
  height: 600px;
  border: 10px solid #3f4253;
}

.ico {
  background: none;
  color: #3f4253;
}

.ico:hover {
  background: none;
  color: #3f4253;
}

.ico:focus {
  background: none;
  color: #3f4253;
}

.pictureQuiz {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  opacity: 0.6;
}


.labelQuestion {
  margin-top: 4rem;
  color: #3f4253;/*
  font-family: 'Lobster', cursive;*/
  font-size: 2rem;
}

.littleContainer {
	width: 60%;
	margin: 200px auto 0;
}

.btnAnswers {
  background-color: #3f4253;
  border: 1px solid #3f4253;
  color: #fdad17;
  width: 250px;
}

.btnAnswers:hover {
  background-color: #fdad17;
  color: #3f4253;  
}

#btnSearchMatch {
  background-color: #fdad17;
  color: #3f4253;
  width: 300px;
  height: 100px;
  border: 1px solid #fdad17;
  border-radius: 5px;
  margin-top: 250px;
  box-shadow: 10px 10px 20px lightgrey, -10px -10px 20px lightgrey;
}


/*Formulaire admin Concept*/

.btnConcept{
  background: #fdad17;
  color: #3f4253;
}


/*Affichage de la page concept*/

.conceptBg{
  background: #3f4253;
  color: #fdad17;
}

.conceptRow{
  background: #dabc83;
  color: #3f4253;
  height: 130px;
}
/*FOOTER*/

footer{
	color: #d4b478;
	background-color: #25283a;
}
