{% extends 'base.html.twig' %}

{% block title %}tchat{% endblock %}

{% block body %}
{{dump(user)}}
<div class="row">
    <div class="container">
        <div id="chat" class="border rounded border-dark" style="height: 150px"></div>
        
        {{ form_start(form) }}
            {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
