{% extends 'base.html.twig' %}

{% block title %}Création de profil{% endblock %}

	{% block body %}
		<div class="container mt-5">
			<h3>Créer mon profil sur Match&Go</h3>
			<div class="row justify-content-center">
				<div class="col-12 col-md-4 form-group profil">
					<div class="form-group mt-3">
						{{ form_start(form) }}
						
						{{ form_widget(form) }}
						{{ form_end(form) }}


					</div>
				</div> 

		

			</div>
		</div>
	{% endblock %}